body{
    background-color:whitesmoke;
    margin: 0;
}
nav{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: orange ;
    height: 60px;
    border: 1px solid red;
}

nav a{
    text-decoration: none;


}

.logo{
    height: 60px;
}

.icons{
    width: 20px;
    height: 20px;
    margin-left: 100px;
    display:flex;
    border: 100px;
    vertical-align: middle;
}

.order{
    margin-left: 50px;
}

.head{
    position: relative;
    width: 99%;
    top: 0;
    left: 0;
    /* border: 10px solid black; */
}

.bg-down img{
    height: 457px;
}


.bg-down{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.bg-down1{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.bg-up{
    position: absolute;
    top: 380px;
    left: 450px;
    opacity: 0.85;
}

.bg-up:hover{
    opacity: 1;
}

/* .bg-down{
    position: relative;
    top: 0;
    left: 0;
} */

/* .top{
    left: 52px;
}

.bg-up{
    position: absolute;
    top: 500px;
    left: 300px;
} */

.meals{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    width: 100%;
    background-color: whitesmoke;
}

.breakfast{
    color:rgb(195, 21, 21);
    background-color: aqua;
    height: 500px;
    width:350px ;
    border-radius: 10px;
    text-align: center;
    padding-top: 80px;
    border:solid rgb(207, 242, 7);
    background-image: url(component/download\ \(19\).jpeg);
}

.breakfast-btn{
    border-radius: 10px;
    border: 2px solid black;
    background-color: yellow;
    text-align: center;
}

.lunch{
    color:rgb(195, 21, 21);
    background-color:rgb(235, 242, 27);
    height: 500px;
    width:350px ;
    border-radius: 10px;
    text-align: center;
    padding-top: 80px;
    border:solid rgb(207, 242, 7); 
    background-image: url(component/images-11-2021-09-16T132232.997\ \(1\).jpeg );
    background-size: 70%;
    background-position: right;
}

.lunch-btn{
    border-radius: 10px;
    border: 2px solid black;
    background-color:yellow;

}

.dinner{
    color:rgb(195, 21, 21);
    background-color:rgb(65, 228, 15);
    height: 500px;
    width:350px ;
    border-radius: 10px;
    background-image: url(component/download\ \(10\)\ -\ Copy.jpeg);
    text-align: center;
    padding-top: 80px;
    border:solid rgb(207, 242, 7);
}

.dinner-btn{
    border-radius: 10px;
    border: 2px solid black;
    background-color:yellow;
}

.dessert{
    color:rgb(195, 21, 21);
    background-color:rgb(174, 22, 230);
    height: 500px;
    width:350px ;
    border-radius: 10px;
    background-image: url(component/homemade-ice-cream-recipe.jpg);
    text-align: center;
    padding-top: 80px;
    border:solid rgb(207, 242, 7);
    background-size: 65%;
}

.dessert-btn{
    border-radius: 10px;
    border: 2px solid black;
    background-color: yellow;
}

.foodExhibit{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 90%;
   margin-left: 5%;
    background-color:orange;
    border-radius: 20px;
  
}
p{
    background-color: yellowgreen;
    text-align: center;
    text-decoration: none;
}

p:hover{
    color: orange;
}

p:active{
color: aqua;
}

img{
    border: 3px solid yellowgreen;
}

.SQ{
    margin-left :20px;
}
/* 
media query pace */
@media screen and (max-width: 480px){
    body{
        background-color:whitesmoke;
        margin: 0;
    }
    nav{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: orange ;
        height: 60px;
        border: 1px solid red;
    }
    
    nav a{
        text-decoration: none;
    
    
    }
    
    .logo{
        height: 60px;
        
    }
    
    .order{
        margin-left: 50px;
    }
    
    .head{
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        border: 10px solid black;
    }
    
    .bg-down img{
        height: 457px;
    }
    
    
    .bg-down{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
    }
    
    .bg-down1{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .bg-up{
        position: absolute;
        top: 380px;
        left: 450px;
        opacity: 0.85;
    }
    
    .bg-up:hover{
        opacity: 1;
    }
    
    /* .bg-down{
        position: relative;
        top: 0;
        left: 0;
    } */
    
    /* .top{
        left: 52px;
    }
    
    .bg-up{
        position: absolute;
        top: 500px;
        left: 300px;
    } */
    
    .meals{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 800px;
        width: 100%;
        background-color: whitesmoke;
    }
    
    .breakfast{
        color:rgb(195, 21, 21);
        background-color: aqua;
        height: 500px;
        width:350px ;
        border-radius: 10px;
        text-align: center;
        padding-top: 80px;
        border:solid rgb(207, 242, 7);
        background-image: url(component/download\ \(19\).jpeg);
    }
    
    .breakfast-btn{
        border-radius: 10px;
        border: 2px solid black;
        background-color: yellow;
        text-align: center;
    }
    
    .lunch{
        color:rgb(195, 21, 21);
        background-color:rgb(235, 242, 27);
        height: 500px;
        width:350px ;
        border-radius: 10px;
        text-align: center;
        padding-top: 80px;
        border:solid rgb(207, 242, 7); 
        background-image: url(component/images-11-2021-09-16T132232.997\ \(1\).jpeg );
        background-size: 70%;
        background-position: right;
    }
    
    .lunch-btn{
        border-radius: 10px;
        border: 2px solid black;
        background-color:yellow;
    
    }
    
    .dinner{
        color:rgb(195, 21, 21);
        background-color:rgb(65, 228, 15);
        height: 500px;
        width:350px ;
        border-radius: 10px;
        background-image: url(component/download\ \(10\)\ -\ Copy.jpeg);
        text-align: center;
        padding-top: 80px;
        border:solid rgb(207, 242, 7);
    }
    
    .dinner-btn{
        border-radius: 10px;
        border: 2px solid black;
        background-color:yellow;
    }
    
    .dessert{
        color:rgb(195, 21, 21);
        background-color:rgb(174, 22, 230);
        height: 500px;
        width:350px ;
        border-radius: 10px;
        background-image: url(component/homemade-ice-cream-recipe.jpg);
        text-align: center;
        padding-top: 80px;
        border:solid rgb(207, 242, 7);
        background-size: 65%;
    }
    
    .dessert-btn{
        border-radius: 10px;
        border: 2px solid black;
        background-color: yellow;
    }
    
    .foodExhibit{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 400px;
        width: 90%;
       margin-left: 5%;
        background-color:orange;
        border-radius: 20px;
      
    }
    p{
        background-color: yellowgreen;
        text-align: center;
        text-decoration: none;
    }
    
    p:hover{
        color: orange;
    }
    
    p:active{
    color: aqua;
    }
    
    img{
        border: 3px solid yellowgreen;
    }
    
    .SQ{
        margin-left :20px;
    }
    

    .meals{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 800px;
            width: 100%;
            background-color: whitesmoke;
        
     
    }

    
.breakfast{
    color:rgb(195, 21, 21);
    background-color: aqua;
    height: 500px;
    width:350px ;
    border-radius: 10px;
    text-align: center;
    padding-top: 80px;
    border:solid rgb(207, 242, 7);
    background-image: url(component/download\ \(19\).jpeg);
}

.breakfast-btn{
    border-radius: 10px;
    border: 2px solid black;
    background-color: yellow;
    text-align: center;
}

.lunch{
    color:rgb(195, 21, 21);
    background-color:rgb(235, 242, 27);
    height: 500px;
    width:350px ;
    border-radius: 10px;
    text-align: center;
    padding-top: 80px;
    border:solid rgb(207, 242, 7); 
    background-image: url(component/images-11-2021-09-16T132232.997\ \(1\).jpeg );
    background-size: 70%;
    background-position: right;
}

.lunch-btn{
    border-radius: 10px;
    border: 2px solid black;
    background-color:yellow;

}

.dinner{
    color:rgb(195, 21, 21);
    background-color:rgb(65, 228, 15);
    height: 500px;
    width:350px ;
    border-radius: 10px;
    background-image: url(component/download\ \(10\)\ -\ Copy.jpeg);
    text-align: center;
    padding-top: 80px;
    border:solid rgb(207, 242, 7);
}

.dinner-btn{
    border-radius: 10px;
    border: 2px solid black;
    background-color:yellow;
}

.dessert{
    color:rgb(195, 21, 21);
    background-color:rgb(174, 22, 230);
    height: 500px;
    width:350px ;
    border-radius: 10px;
    background-image: url(component/homemade-ice-cream-recipe.jpg);
    text-align: center;
    padding-top: 80px;
    border:solid rgb(207, 242, 7);
    background-size: 65%;
}

.dessert-btn{
    border-radius: 10px;
    border: 2px solid black;
    background-color: yellow;
}

.foodExhibit{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 90%;
   margin-left: 5%;
    background-color:orange;
    border-radius: 20px;
  
}
p{
    background-color: yellowgreen;
    text-align: center;
    text-decoration: none;
}

p:hover{
    color: orange;
}

p:active{
color: aqua;
}

/* img{
    border: 3px solid yellowgreen;
} */

.SQ{
    margin-left :20px;
}


}